<html>

<head>
	<meta charset="UTF-8">
	<title>Reserva</title>
	<link rel="stylesheet" href="../styles/style.css">
	<link rel="stylesheet" href="../styles/home.css">
	<link rel="stylesheet" href="../styles/medias.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
	<link rel="shortcut icon" href="../assets/favicon.png" type="image/x-icon">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="min-vh-100 d-flex flex-column justify-content-between">
	<header class="container-fluid bg-white">

	</header>
	<main class="container">
		<div id="select">

		</div>

		<form method="post" th:object="${reserva}">
			
			<div class="form-group mb-3">
				<label for="data" class="form-label"> Checkin </label>
				<input type="date" class="form-control" id="data" th:field="*{checkin}" required>
			</div>
			<div class="form-group mb-3">
				<label for="data" class="form-label"> Checkout </label>
				<input type="date" class="form-control" id="data" th:field="*{checkout}" required>
			</div>
			<div class="form-group mb-3">
				<label for="usuario" class="form-label"> Id Usuario </label>
				<select th:field="*{usuario}" class="form-control">
					<option th:each="usuario : ${listaUsuarios}" th:text="${usuario.nome}" th:value="${usuario.id}">
					</option>
				</select>
			</div>
			
			<div class="form-group mb-3">
				<label for="destino" class="form-label"> Id Destino </label>
				<select th:field="*{destino}" class="form-control">
					<option th:each="destino : ${listaDestino}" th:text="${destino.nome}" th:value="${destino.id}">
					</option>
				</select>
			</div>

			<button type="submit" class="btn btn-primary">Enviar</button>
			<a href="/clientes" class="btn btn-danger" style="margin-left: 10px"> Cancelar </a>
		</form>




	</main>
	<footer class="ft-cntt">
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script type="module" src="../js/listas.js"></script>
</body>

</html>