<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="stylesheet" th:href="@{/styles/destinos.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/favicon.png}" type="image/x-icon">
    <title>Destinos</title>
</head>

<body>
    <header class="container-fluid bg-white">
    </header>
    <main class="container">
        <h2 id="title">Destinos</h2>
        <div id="cardsContainer">
            <!-- Conteúdo dos cards aqui (se dinâmico) -->
        </div>
    </main>
    <footer>
        <!-- Conteúdo do rodapé aqui -->
    </footer>
</body>

<script type="module" th:src="@{/js/destinos.js}"></script>

</html>